<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9W13CaeI63T5iBH7pqYfAQm3adEufsPo</string>
	<key>GCM_SENDER_ID</key>
	<string>885224834649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alridafrieds.alridaFrieds</string>
	<key>PROJECT_ID</key>
	<string>al-rida-8112c</string>
	<key>STORAGE_BUCKET</key>
	<string>al-rida-8112c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885224834649:ios:da94caa71bd8b84a151348</string>
</dict>
</plist>